<div class='about mar-y py-5'>
    <div class='container p-0'>
        <div class='row no-guttera'>


            <div class='col-12 col-lg-12'>
                <div class='about__content privacy '>
                    <div class='section-content'>
                        <h3 class='heading'>Privacy Policy</h3>
                        <p>This Privacy Policy describes how sparkinstyle.com (the “Site” or “we”) collects, uses, and
                            discloses your Personal Information when you visit or make a purchase from the Site.</p>
                        <h3 class="heading">Collecting Personal Information</h3>
                        <p>When you visit the Site, we collect certain information about your device, your interaction
                            with the Site, and information necessary to process your purchases. We may also collect
                            additional information if you contact us for customer support. In this Privacy Policy, we
                            refer to any information that can uniquely identify an individual (including the information
                            below) as “Personal Information”. See the list below for more information about what
                            Personal Information we collect and why.</p>

                        <h6><a href="#">Device information</a></h6>
                        <ul>
                            <li><span>Examples of Personal Information collected:</span> version of web browser, IP
                                address, time
                                zone, cookie information, what sites or products you view, search terms, and how you
                                interact with the Site.</li>
                            <li><span>Purpose of collection:</span> to load the Site accurately for you, and to perform
                                analytics on
                                Site usage to optimize our Site.</li>
                            <li><span>Source of collection:</span> Collected automatically when you access our Site
                                using cookies,
                                log files, web beacons, tags, or pixels.</li>
                            <li><span>Disclosure for a business purpose:</span> shared with our processor Shopify.</li>
                        </ul>
                        <h6><a href="#">Order information</a></h6>
                        <ul>
                            <li><span>Examples of Personal Information collected:</span> name, billing address, shipping
                                address, payment information (including credit card numbers), email address, and phone
                                number.</li>
                            <li><span>Purpose of collection:</span> to provide products or services to you to fulfill
                                our contract, to process your payment information, arrange for shipping, and provide you
                                with invoices and/or order confirmations, communicate with you, screen our orders for
                                potential risk or fraud, and when in line with the preferences you have shared with us,
                                provide you with information or advertising relating to our products or services.</li>
                            <li><span>Source of collection:</span> collected from you.</li>
                            <li><span>Disclosure for a business purpose:</span> shared with our processor Shopify.</li>
                        </ul>
                        <h6><a href="#">Customer support information</a></h6>
                        <ul>
                            <li><span>Examples of Personal Information collected:</span> name, billing address, shipping
                                address, payment information (including credit card numbers), email address, and phone
                                number.</li>
                            <li><span>Purpose of collection:</span> to provide customer support.</li>
                            <li><span>Source of collection:</span> collected from you.</li>
                            <li><span>Disclosure for a business purpose:</span> We do not share customer information
                                with any other vendor than Shopify, as they are our processors.</li>
                        </ul>
                        <h3>DO NOT TRACK</h3>
                        <p>Please note that because there is no consistent industry understanding of how to respond to
                            “Do Not Track” signals, we do not alter our data collection and usage practices when we
                            detect such a signal from your browser.</p>
                        <h3>Changes</h3>
                        <p>We may update this Privacy Policy from time to time in order to reflect, for example, changes
                            to our practices or for other operational, legal, or regulatory reasons.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% schema %}
    {
      "name": "Cus Terms Privacy",
      "tag": "section",
      "class": "announcement-bar-section",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "text",
          "id": "sub_title",
          "default": "Collections",
          "label": "Sub Title"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Collections",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "button_text",
          "default": "Collections",
          "label": "Button Text"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
          }
    ],
    "presets": [
        {
          "name": "Cus Terms Privacy"
        }
      ]
    }
    {% endschema %}