<div class="page-title">
    <div class="page-title__img">
        <img src="{% if section.settings.banner_img !=blank %}{{ section.settings.banner_img | img_url: 'master' }} {% else %}{{ 'product-banner.png' | asset_url }}{% endif %}" alt="image" class="imgFluid">
    </div>
    <div class="page-title__content">
        <h2 class="heading box-text">
 
            <h2 class="heading box-text {% if section.settings.my_select_field == 'option2' %} text-dark{% endif %}">{{- collection.title | escape -}}</h2>

    </div>
</div>


{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "my_select_field",
      "label": "Image Position",
      "options": [
        {
          "value": "option1",
          "label": "Text White"
        },
        {
          "value": "option2",
          "label": "Text Black"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "banner_img",
      "label": "t:sections.multicolumn.blocks.column.settings.image.label"
    }
  ]
}
{% endschema %}
