<div class="page-title">
    <div class="page-title__img">
        <img src="{% if block.settings.banner_img !=blank %}{{ block.settings.banner_img | img_url: 'master' }} {% else %}{{ 'about-banner.png' | asset_url }}{% endif %}" alt="image" class="imgFluid">
    </div>
    <div class="page-title__content">

 
            <h2 class="heading box-text">PRODUCT DETAIL</h2>

    </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "page_title",
      "label": "Page Title"
    }, 
    {
      "type": "image_picker",
      "id": "banner_img",
      "label": "Banner Image"
    }
  ]
}
{% endschema %}
