html {
    padding: 0 !important;
}
form.search.header__search .field input.search__input {
    border: 1px solid #808080;
    border-radius: 100px;
    margin: 0;
    padding: 6px 15px;
}

form.search.header__search {
    padding: 0;
    border: unset !important;
}

form.search.header__search button.search__button {
    background-color: var(--color-primary);
    right: 2px;
    border-radius: 100px;
    top: 0px;
}
.varition-btn a {
    display: block;
}


form.search.header__search .field:after {
    display: none;
}
form.search.header__search .field input.search__input {
    width: 100%;
    height: 45px;
}

form.search.header__search button.search__button {
    position: absolute;
    right: 1px;
    top: 1px;
    height: 43px;
    width: auto;
    padding: 0px 35px;
}

.field__input::placeholder, .customer .field input::placeholder {
    opacity: 1 !important;
    font-size: 14px !important;
}

.contact-form__fields :is(input, textarea, select){
    padding: 0.85rem 1.25rem !important;
    margin: 0.75rem 0 !important;
    height: auto;
  }

  .field__input:focus, .select__select:focus, .customer .field input:focus, .customer select:focus, .localization-form__select:focus.localization-form__select::after{
    padding: 0.85rem 1.25rem !important;
    margin: 0.75rem 0 !important;
    border: 1px solid #000;
    border-radius: 0.5rem;
    box-shadow: unset;
  }

  .facets__form-vertical, 
 .facets__form-vertical {
    width: auto !important;
  }


.active-facets.active-facets-desktop {
  display: none;
}
.facets__disclosure-vertical {
  border: unset !important;
}
.facets__disclosure-vertical .list-menu__item span {
  font-size: 16px !important;
}
.facets__disclosure-vertical .list-menu__item .facet-checkbox > svg {
  height: 13px !important;
  margin-top: 5px !important;
}
.facets__disclosure-vertical .list-menu__item .facet-checkbox {
  padding: 5px 0px !important;
}
.facets__disclosure-vertical .list-menu__item .facet-checkbox > svg.icon.icon-checkmark {
  top: 5px;
}
#ProductGridContainer .collection {
  padding: 0;
  background-color: unset;
}

#ProductGridContainer .collection {
  padding: 0;
  background-color: unset;
}
.facet-filters__sort {
  font-size: 18px !important;
}
.facet-filters__label  label {
  font-size: 17px !important;
}
.product-count-vertical {
  display: none !important;
}
#SortBy:focus {
  padding: 0 !important;
  margin: 0 !important;
  border: unset !important;
  border-radius: unset !important;
  box-shadow: unset !important;
}
.product__info-wrapper .product__title h1 {
    color: #000;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: var(--font-lemon-regular);
}

.product__info-wrapper .price {
    color: var(--color-secondary);
    font-size: 2rem;
    font-weight: 600;
    margin-top: -10px;
    letter-spacing: 0;
}

.product__info-wrapper .product__description {
    margin-top: 15px;
}

.product__info-wrapper .product-form__input input[type=radio]+label {
    padding: 10px 30px;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}
.product__info-wrapper fieldset.product-form__input .form__label,
.product__info-wrapper .product-form__quantity .form__label {
    font-size: 18px !important;
}
.product__info-wrapper .product-form__input .quantity {
    min-height: 45px;
}
.products-detail__content{
  padding: 0;
}
.product__info-container .product-form {
    margin: 0 !important;
}
.product-variant-color {
    height: 40px;
    width: 40px !important;
    padding: 0 !important;
}
.product-form__input input[type=radio]:checked+label {
    outline: 2px solid #000;
    outline-offset: 2px;
}

quantity-input.quantity.cart-quantity {
    height: 38px;
    min-height: 38px;
}

.cart-item__quantity-wrapper {
    align-items: center;
}

form#customer_login label,
form#create_customer label {
    display: none;
}

#customer_login button.themeBtn.themeBtn--full.justify-content-center {
    font-size: 1.5rem !important;
    text-decoration: none !important;
    min-height: auto;
    padding: 0.65rem 2rem;
    border-radius: 50px !important;
    position: relative !important;
    background-color: var(--color-secondary);
}

#customer_login button.themeBtn.themeBtn--full.justify-content-center::before, #customer_login button.themeBtn.themeBtn--full.justify-content-center::after {
    display: none;
}

#customer_login button.themeBtn.themeBtn--full.justify-content-center:hover {
    background-color: #fff;
}
#customer_login input {
    font-size: 18px;
}
.price .price__sale .price-item--regular {
  text-decoration: line-through !important;
  opacity: 0.5;
  font-size: 18px;
}


.product .price .badge.price__badge-sale,
.product .price .badge.price__badge-sold-out {
  background-color: #f4cd0d;
  border: unset;
  font-size: 15px;
  padding: 5px 15px;
  font-family: "Poppins", sans-serif !important;
}

.product .price .badge.price__badge-sold-out {
  background-color: #db2d2d;
  color: #fff;
}

.cart-wrap i {
  font-size: 1.85rem;
}
.cart-wrap {
  position: relative;
}
.cart-wrap .cart-count-bubble {
  height: 20px;
  width: 20px;
  left: 20px;
  bottom: 24px;
  background-color: var(--color-primary);
  color: #000;
}



.header-main__nav > li  .sub-menu {
  position: absolute;
  background-color: #f2f2f2;
  padding: 15px 0px 10px;
  width: 220px;
  left: 0;
  top: 100%;
  transform: translateY(-3px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}
.header-main__nav > li .sub-menu li a {
  padding: 5px 10px;
  line-height: normal;
  display: block;
  text-align: left;
}
.header-main__nav > li {
  position: relative;
}
.header-main__nav > li .sub-menu li a:hover {
  background-color: var(--color-primary);
  color: #fff;
}
.header-main__nav > li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.varition-btn a {
  border: 1px solid #a4a4a4;
}

.title a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: ;
}

.pagination__list {
    width: 100%;
}

.pagination__list a.pagination__item {
  height: 40px;
  width: 40px;
}

.pagination__list a.pagination__item.pagination__item--current.light::after {
    display: none;
}

.pagination__list li:hover a.pagination__item:hover, .pagination__list a.pagination__item.pagination__item--current.light {
    background-color: gold !important;
}

.pagination__list li:hover a.pagination__item:hover::after {
    display: none !important;
}

a.pagination__item.pagination__item-arrow.link.motion-reduce {
    background-color: var(--color-secondary);
    color: #fff !important;
}

.product__description ul li {
    list-style: disc;
}

.product-variant-color-burgundy {
    background-color: #800020 !important;
}

.product-variant-color-dark-purple {
    background-color: #301934 !important;
}

.product-variant-color-grayish-blue {
    background-color: #6699CC !important;
}

.product-variant-color-light-blue {
    background-color: #ADD8E6 !important;
}

.product-variant-color-off-white {
    background-color: #FAF9F6 !important;
}

.product-variant-color-light-pink {
    background-color: #ffb6c1 !important;
}

.product-variant-color-navy-blue {
    background-color: #000080 !important;
}

.product-variant-color-yale-blue {
    background-color:  #00356B !important;
}

.product-variant-color-peach {
    background-color: #FFE5B4 !important;
}

.product-variant-color-blush-pink {
    background-color: #FE828C !important;
}

.product-variant-color-light-orange {
    background-color: #FFD580 !important;
}

.product-variant-color-dark-wine {
    background-color: #722F37 !important;
}

.product-variant-color-dark-blue {
    background-color: #00008B !important;
}

.product__info-wrapper .product-form__input input[type=radio]+label {
    margin-bottom: 15px;
}


.product-variant-color-dark-green {
    background-color: darkgreen !important;
}

.product-variant-color-cream {
    background-color: #FFFDD0 !important;
}

.product-variant-color-royal-blue {
    background-color: royalblue !important;
}

#predictive-search-results-groups-wrapper .predictive-search__result-group:first-child {
  display: none;
}

.template-search__search .search .field__input:focus, .template-search__search .search .field__input {
  padding: 11px 32px !important;
  border-radius: unset !important;
  border: unset !important;
  height: 50px;
  margin: 0 !important;
  font-size: 16px !important;
}
.template-search__search .search {
}
.template-search__search .search .field__label {
  display: none;
}
.template-search__search .search .predictive-search {
}
.template-search__search .search .predictive-search .predictive-search__item .predictive-search__item-content p {
  font-size: 16px !important;
  margin: 0;
}
.template-search__search .search .predictive-search__list-item a {
  font-size: 16px !important;
}

.template-search__search .search .predictive-search__item {
  font-size: 16px;
  margin: 0;
}
.template-search__search .search .reset__button.field__button {
  height: 50px;
}
.template-search__search .search .search__button.field__button {
  height: 50px;
}

.facet-filters.sorting.caption #SortBy {
  padding-right: 30px !important;
}



.out-of-stock {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #db2d2d;
  padding: 5px 15px;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: .25rem;
  z-index: 99999;
}
.out-of-stock.sale{
  background-color: var(--color-primary);
}
.products-card {
  position: relative;
}

.varition-btn a {
  width: 20px !important;
  height: 20px !important;
}


.products-card__img > img {
  object-fit: contain;
  object-position: center;
}

.products-card__img {
  width: 100%;
  height: 350px;
  background-color: #e7eaec;
}

.product-form__buttons {
  padding: 5px 8px;
}

.price.price--on-sale .price--sale {
  text-decoration: line-through !important;
  opacity: 0.5;
  font-size: 14px;
}




.pagination__list>li {
    max-width: 40px;
}

.cart-items a {
    font-size: 1.15rem !important;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.5;
    margin: 0.5rem 0 0.75rem;
    font-family: "Poppins", sans-serif;
    text-decoration: unset !important;
}

.cart-items {
    font-size: 14px !important;
}

.cart-items .product-option {
    font-size: 16px;
}

.cart-items .cart-item__price-wrapper span {
    font-size: 20px !important;
    margin: 5px 0 0 !important;
}

.cart-item cart-remove-button, .cart-item cart-remove-button a {
    margin: 0px 0 0;
    height: 40px !important;
    min-height: 40px !important;
}

.cart-item cart-remove-button a {}


.cart-items a {
    font-size: 1.15rem !important;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.5;
    margin: 0.5rem 0 0.75rem;
    font-family: "Poppins", sans-serif;
    text-decoration: unset !important;
}

.cart-items {
    font-size: 14px !important;
}

.cart-items .product-option {
    font-size: 16px;
}

.cart-items .cart-item__price-wrapper span {
    font-size: 20px !important;
    margin: 5px 0 0 !important;
}

.cart-item cart-remove-button, .cart-item cart-remove-button a {
    margin: 0px 0 0;
    height: 40px !important;
    min-height: 40px !important;
}

.cart__blocks {
    font-size: 18px !important;
}

.totals > h2, .totals__subtotal-value, .tax-note {
    font-size: 20px;
}

.button {
    display: block;
    background-color: var(--color-secondary);
    color: #fff;
    font-size: 0.9rem;
    border-radius: 100px;
    border: 2px solid transparent;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    padding: 0.65rem 2rem;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--color-secondary);
    position: relative;
    overflow: hidden;
    z-index: 1;
    min-height: 30px !important;
    line-height: 30px;
}
.button::before, .button::after{
    content: "";
    width: 100%;
    height: 0;
    background-color: #fff;
    position: absolute;
    left: 0;
    transition: all 300ms ease-in-out;
    z-index: -1;
    box-shadow: unset !important;
}
.button::before{
    top: 0;
}
.button::after{
    bottom: 0 !important;
    top: auto;
}

.button:hover::before, 
.button:hover::after {
    height: 50% !important;
}

.button:hover {
    color: var(--color-secondary);
}

.page-title__content {
  text-align: center;
}

.page-title__content p {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
.page-title__content .text-dark p {
  color: #000;
}

.pagination__list>li {
    max-width: 2.4rem !important;
}
a.pagination__item.pagination__item--current {
    font-size: 1.4rem;
    color: #000 !important;
}

.products-detail__content .themeBtn.sold-out-button {
    background-color: #ddd;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #ddd;
    pointer-events: none;
    cursor: not-allowed;
}

.products-detail__content .themeBtn.sold-out-button:hover {
    color: #fff;
}

.products-detail__content .themeBtn.sold-out-button:hover::before, .products-detail__content .themeBtn.sold-out-button:hover::after {
    height: 0;
}

.product-form__input input[type=radio]:disabled+label, .product-form__input input[type=radio].disabled+label {
    pointer-events: none;
    cursor: not-allowed;
}

.cart__ctas button.cart__checkout-button {
    height: 46px;
    line-height: 22px;
    width: auto;
    min-width: auto;
    letter-spacing: 0;
}


.cart__ctas {
    justify-content: end;
}

.products-detail__content .themeBtn {
    width: auto;
}

.cart__warnings {
    padding: 50px 0 !important;
}

.cart__warnings a.button {
    width: auto !important;
    min-width: auto !important;
    display: inline;
    letter-spacing: 0;
    line-height: 22px;
}

.product .thumbnail{
  position: unset !important;
}
.product .thumbnail-list__item:before {
    padding: 0;
}

.product .product__media-list {
    margin-bottom: 5px;
}

.product .slider.slider--tablet-up {
    padding: 0 !important;
}