form.search.header__search .field input.search__input {
    border: 1px solid #808080;
    border-radius: 100px;
    margin: 0;
    padding: 6px 15px;
}

form.search.header__search {
    padding: 0;
    border: unset !important;
}

form.search.header__search button.search__button {
    background-color: var(--color-primary);
    right: 2px;
    border-radius: 100px;
    top: 0px;
}
.varition-btn a {
    display: block;
}


form.search.header__search .field:after {
    display: none;
}
form.search.header__search .field input.search__input {
    width: 100%;
    height: 45px;
}

form.search.header__search button.search__button {
    position: absolute;
    right: 1px;
    top: 1px;
    height: 43px;
    width: auto;
    padding: 0px 35px;
}